/* src/components/Login.css */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 20px;
}

.logo img {
  margin-bottom: 45px;
  max-width: 100%; /* Ensure the logo is responsive */
}

.login-container {
  padding: 25px;
  text-align: center;
  width: 100%;
  max-width: 440px;
  height: 400px;
  border-radius: 8px;
  border: 2px solid transparent;
  background: linear-gradient(to right, #27292d, #27292d),
    linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.login-container p {
  color: #6b6c70;
}

.login-container h4 {
  margin-bottom: 20px;
  color: #ffffff;
}

.input-field {
  margin-bottom: 20px;
  text-align: left;
}

.input-field .label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #C5C7CA;
  font-size: 14px;
}

.input-field label {  
  color: #c5c7ca;
  font-size: 14px;
}

.input-field input {
  display: inline;
  width: 100%;
  padding: 10px;
  border: 1px solid #52525242;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #27292d;
  color: white;
  height: 45px;
}

.password-toggle {
  cursor: pointer;
  color: #007bff;
  font-size: 12px;
  margin-top: 5px;
  position: absolute;
  right: 10px;
  top: -5px;
}

#register{
  text-align:left;
}

#input-container{
  position: relative;
}

.error {
  color: red;
  margin-bottom: 20px;
}

button {
  background-color: #4A96FF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background: #0056b3;
}



p a {
  color: #c5c7ca;
  text-decoration: none;
}

.forgot-password-container {
  margin-left: auto;
}
.forgot-password {
  margin: 0;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-align: right;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .login-container {
    width: 70%; /* Adjusted width for larger tablets and desktops */
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 60%;
    padding: 20px;
  }

  .logo img {
    width: 60px; /* Adjusted for smaller screens */
  }

  .login-container h4 {
    font-size: 16px;
  }

  .input-field input {
    padding: 8px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 80%;
    padding: 15px;
  }

  .logo img {
    width: 50px; /* Adjusted for very small screens */
  }

  .login-container h4 {
    font-size: 14px;
  }

  .input-field input {
    padding: 6px;
  }

  button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
